<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charity Dashboard</title>
    <link rel="stylesheet" href="../css/dashboard_charity.css">
</head>
<body>
    <header class="header">
        <h1 class="page-name">Donate Now Charities Page</h1>
        <div class="header-right">
            <div id="charityName" class="charity-name">Charity Name</div>
            <div class="sidebar">
                <button id="sidebar-toggle" aria-label="Toggle Menu" title="Toggle Menu">
                    <span class="hamburger-icon">&#9776;</span>
                </button>
                <ul id="sidebar-menu" class="hidden">
                    <li><a href="profile.html">Profile</a></li>
                    <li><a id="newCampaignLink" href="#">New Campaign</a></li>
                    <li><a id="logoutLink" href="#">Logout</a></li> <!-- Logout link added -->
                    <!-- Add more menu items as needed -->
                </ul>
            </div>
        </div>
    </header>

    <div class="container">
        <div id="campaignsContainer" class="campaigns-container">
            <!-- Campaign boxes will be inserted here dynamically -->
        </div>
    </div>
    

    <script src="../js/dashboard_charity.js"></script>
</body>
</html>
