<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <div class="main"> 
        <div class="container">
            <div class="centered">
                <img src="../images/Donate.png" alt="Donate Logo" class="logo">
                <h3>Get Started</h3>
                <div class="buttons">
                    <a href="register.html" class="button"><span>REGISTER USER</span></a>
                    <a href="register_charity.html" class="button"><span>REGISTER CHARITY</span></a>
                    <a href="login.html" class="buttonhome"><span>LOGIN</span></a>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/index.js"></script>
</body>
</html>
